@tailwind base;
@tailwind components;
@tailwind utilities;

.ql-editor {
  /* background-color: #27d321; */
  height: 100%;
  margin-bottom: 3rem;
  border: none;
  box-sizing: content-box !important;
}
